<style>
    .bg_white{
        background-color: wheat;}
        .text-align{
            text-align: center;
        }
</style>
<footer class="bg_white">
    <p class="text-align">Ce site à été réalisé par Desir Alexandre</p>
</footer>