<style>
    .nav_white{
        background-color: wheat;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .nav_flex{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0;
    }
    .nav_flex li a {
        text-decoration: none;
        color: black;
    }
    a:hover{
        text-decoration: dotted;
        color: white;
    }
</style>
<header>
    <nav class="nav_white">
        <ul class="nav_flex">
            <li><a href="/">Acceuil</a></li>
            <li><a href="/">Produit</a></li>
            <li><a href="http://localhost:3000/about">About</a></li>
        </ul>
    </nav>
</header>