<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/details.css">
    <title>Document</title>
</head>
<body>
    <h1>guns details </h1>
    
    <ul class="button-89">
            <li> Name : <%= item.attributes.name %> </li>
            <li> Description : <%= item.attributes.description  %> </li>
            <li> Price : <%= item.attributes.price  %> </li>
            <li> Authorization : <%= item.attributes.authorization  %> </li>
      </ul>
    
</body>